<!--home start-->    
<div id="home">
  <div class="headerLine">
    <div id="menuF" class="default">
      <div class="container">
        <div class="row">
          <div class="logo col-md-4">
            <div>
              <a href="#">
                <%= image_tag "landingpage/logo.png" %>
              </a>
            </div>
          </div>
          <div class="col-md-8">
            <div class="navmenu"style="text-align: center;">
              <ul id="menu">
                <li class="active" ><a href="#home">Kratos</a></li>
                <li><a href="#what">What?</a></li>
                <li><a href="#testimonials">Testimonials</a></li>
                <li><a href="#beta">Join beta</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row wrap">
        <div class="col-md-12 gallery"> 
          <h2 class="kra-header-text">Get ripped fast.</h2>
        </div>
      </div>
    </div>
  </div>

</div>

<!--what start-->    
<div id="what">

  <div class="container">
    <div class="row aboutUs">
      <div class="col-md-4 project">
        <h4><%=t('welcome.title')%></h4>
        <p>
        Heeuuuuujjjj<br />
        <strong>translation:</strong><br /><%=t 'welcome.paragraph', variable: ENV["TEST"] %><br />
        <strong>envvariable:</strong><br /><%= ENV["TEST"] %><br />
        <%= icon('flag') %>
        </p>
      </div>
      <div class="col-md-4 project">
        <h4>Happy Customers</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit quisque tempus eget diam et. laoreet phasellus ut nisi id leo.  </p>
      </div>
      <div class="col-md-4 project">
        <h4 style="margin-left: 20px;">Professional Awards</h4>
        <p>Consectetur adipiscing elit quisque tempus eget diam et laoreet phasellus ut nisi id leo molestie adipiscing vitae a vel. </p>
      </div>
    </div>
  </div>
</div>
<!--testimonials start-->    

<div id="testimonials">
  <div class="container">
    <div class="row aboutUs">
      <div class="col-md-12 ">
        <h3>What Our Customers Say About Us?</h3>
      </div>
    </div>
  </div>

  <div style="position: relative;">

    <div class="container">
      <div class="row about">
        <div class="col-md-6">
          <div class="about1">
            <%= image_tag "landingpage/picAbout/aboutP1.png", class: "pic1Ab" %>
            <h3>Anna Smith, Company Inc.</h3>
            <p>Nulla consectetur ornare nibh, a auctor mauris scelerisque eu proin nec urna quis justo adipiscing auctor ut auctor feugiat fermentum quisque eget pharetra, felis et venenatis. aliquam, nulla nisi lobortis elit ac.</p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="about2">
            <%= image_tag "landingpage/picAbout/aboutP2.png", class: "pic2Ab" %>
            <h3>John Doe, Company Inc.</h3>
            <p>Consectetur ornare nibh, a auctor mauris scelerisque eu proin nec urna quis justo, adipiscing auctor, ut auctor feugiat fermentum nec quisque eget pharetra, felis et venenatis aliquam, nulla nisi lobortis elit, ac luctus.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="horL"></div>

    <div class="container">
      <div class="row about">
        <div class="col-md-6">
          <div class="about1">
            <%= image_tag "landingpage/picAbout/aboutP3.png", class: "pic1Ab" %>
            <h3>Tom Sawyer, Company Inc.</h3>
            <p>A auctor mauris scelerisque eu proin nec urna quis justo adipiscing auctor ut auctor feugiat fermentum quisque eget pharetra, felis et venenatis aliquam, nulla nisi lobortis elit, acnterdum ante feugiat vitae.</p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="about2">
            <%= image_tag "landingpage/picAbout/aboutP4.png", class: "pic2Ab" %>
            <h3>Sarah White, Company Inc.</h3>
            <p>Ornare nibh a auctor, mauris scelerisque eu proin nec urna nec a quis justo adipiscing auctor ut auctor feugiat fermentum quisque eget pharetra felis et venenatis aliquam, nulla nisi lobortis elit, ac eleifend nisl ante nec lorem. </p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<div id="beta">
  <div class="line3">
    <div class="container">
      <div id="project1" ></div>
      <div class="row Ama">
        <div class="col-md-12 kra-catchphrase">
          <h3>Become a MONSTER in no time!</h3>
        </div>
      </div>
    </div>
  </div>          






  <!--contact start-->

  <div class="container">
    <div class="row ftext">
      <div class="col-md-12">
        <a id="features"></a>
        <h3>Stay on top of your game and join our beta!</h3>
        <p>We will inform you when our beta launches! We do NOT spam.</p>
      </div>
      <div class="cBtn">
        <ul style="margin-top: 23px; margin-bottom: 0px; padding-left: 26px;">
          <li class="dowbload"><a href="#"><i class="fa fa-star"></i>View All Features</a></li>
          <li class="buy"><a href="#"><i class="fa fa-download"></i>Buy This Template</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="lineBlack">
    <div class="container">
      <div class="row downLine">
        <div class="col-md-6 text-left copy">
          <p>Copyright &copy; 2014 Timber HTML Template. All Rights Reserved.</p>
        </div>
        <div class="col-md-6 text-right dm">
          <ul id="downMenu">
            <li class="active"><a href="#home">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#project1">Projects</a></li>
            <li><a href="#news">News</a></li>
            <li class="last"><a href="#contact">Contact</a></li>
            <!--li><a href="#features">Features</a></li-->
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>		
