<% content_for :dynamic_stylesheets do %>
  <%= stylesheet_link_tag "owl.carousel/owl.carousel.css", 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag "pages/page_one.css", 'data-turbolinks-track' => true %>
<%end%>

<% content_for :dynamic_javascripts do %>
  <%= javascript_include_tag "jquery-parallax/jquery.parallax.js", 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "counter/waypoints.js", 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "counter-up/jquery.counterup.min.js", 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "owl.carousel/owl.carousel.js", 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "owl.carousel/owl-carousel.js", 'data-turbolinks-track' => true %>
<%end%>

<!-- Parallax Section -->
<div class="bg-image-v1 parallaxBg">
    <div class="container">
        <div class="headline-center headline-light">
          <h2><%= t("landings.index.parallax.title") %></h2>
            <p><%= t("landings.index.parallax.paragraph") %></p><br>
            <button type="button" class="btn-u btn-brd btn-brd-hover btn-u-light"><%= t("landings.index.parallax.button") %></button>
        </div><!--/end Headline Center-->
    </div>
</div>
<!-- End Parallax Section -->

<!--=== Service Blcoks ===-->
<div class="container content-md">
    <div class="text-center margin-bottom-50">
        <h2 class="title-v2 title-center"><%= t("landings.index.service.title") %></h2>
        <p class="space-lg-hor"><%= t("landings.index.service.paragraph") %></p>
    </div>

    <!-- Service Blcoks -->
    <div class="row service-box-v1">
        <div class="col-md-4 col-sm-6 md-margin-bottom-40">
            <div class="service-block service-block-default no-margin-bottom">
                <i class="icon-lg rounded-x icon icon-badge"></i>
                <h2 class="heading-sm"><%= t("landings.index.service.block1.title") %></h2>
                <p><%= t("landings.index.service.block1.paragraph") %></p>
                <ul class="list-unstyled">
                    <li><%= t("landings.index.service.block1.li1") %></li>
                    <li><%= t("landings.index.service.block1.li2") %></li>
                    <li><%= t("landings.index.service.block1.li3") %></li>
                    <li><%= t("landings.index.service.block1.li4") %></li>
                    <li><%= t("landings.index.service.block1.li5") %></li>
                    <li><%= t("landings.index.service.block1.li6") %></li>
                </ul>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 md-margin-bottom-40">
            <div class="service-block service-block-default no-margin-bottom">
                <i class="icon-lg rounded-x icon-line icon-trophy"></i>
                <h2 class="heading-sm"><%= t("landings.index.service.block2.title") %></h2>
                <p><%= t("landings.index.service.block2.paragraph") %></p>
                <ul class="list-unstyled">
                    <li><%= t("landings.index.service.block2.li1") %></li>
                    <li><%= t("landings.index.service.block2.li2") %></li>
                    <li><%= t("landings.index.service.block2.li3") %></li>
                    <li><%= t("landings.index.service.block2.li4") %></li>
                    <li><%= t("landings.index.service.block2.li5") %></li>
                    <li><%= t("landings.index.service.block2.li6") %></li>
                </ul>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="service-block service-block-default no-margin-bottom">
                <i class="icon-lg rounded-x icon-line icon-layers"></i>
                <h2 class="heading-sm"><%= t("landings.index.service.block3.title") %></h2>
                <p><%= t("landings.index.service.block3.paragraph") %></p>
                <ul class="list-unstyled">
                    <li><%= t("landings.index.service.block3.li1") %></li>
                    <li><%= t("landings.index.service.block3.li2") %></li>
                    <li><%= t("landings.index.service.block3.li3") %></li>
                    <li><%= t("landings.index.service.block3.li4") %></li>
                    <li><%= t("landings.index.service.block3.li5") %></li>
                    <li><%= t("landings.index.service.block3.li6") %></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- End Service Blcoks -->
</div>
<!--=== End Service Blcoks ===-->

<!--=== Carallax Counter v1 ===-->
<div class="parallax-counter-v1 parallaxBg" style="background-position: 50% 20px;">
    <div class="container">
        <h2 class="title-v2 title-light title-center"><%= t("landings.index.counter.title") %></h2>
        <p class="space-xlg-hor text-center color-light"><%= t("landings.index.counter.paragraph") %></p>

        <div class="margin-bottom-40"></div>

        <div class="row margin-bottom-10">
            <div class="col-sm-3 col-xs-6">
                <div class="counters">
                    <span class="counter">10629</span>
                    <h4><%= t("landings.index.counter.block1") %></h4>
                </div>
            </div>
            <div class="col-sm-3 col-xs-6">
                <div class="counters">
                    <span class="counter">277</span>
                    <h4><%= t("landings.index.counter.block2") %></h4>
                </div>
            </div>
            <div class="col-sm-3 col-xs-6">
                <div class="counters">
                    <span class="counter">78</span>
                    <h4><%= t("landings.index.counter.block3") %></h4>
                </div>
            </div>
            <div class="col-sm-3 col-xs-6">
                <div class="counters">
                    <span class="counter">109</span>
                    <h4><%= t("landings.index.counter.block4") %></h4>
                </div>
            </div>
        </div>
    </div>
</div>
<!--=== End Carallax Counter v1 ===-->

<!--=== Call To Action ===-->
<div class="call-action-v1 bg-color-light">
    <div class="container">
        <div class="call-action-v1-box">
            <div class="call-action-v1-in">
                <p><%= t("landings.index.call_to_action.paragraph") %></p>
            </div>
            <div class="call-action-v1-in inner-btn page-scroll">
                <a href="#portfolio" class="btn-u btn-brd btn-brd-hover btn-u-dark btn-u-block"><%= t("landings.index.call_to_action.button") %></a>
            </div>
        </div>
    </div>
</div>
<!--=== End Call To Action ===-->

<!--=== Parallax Quote ===-->
<div class="parallax-quote parallaxBg" style="background-position: 50% 22px;">
    <div class="container">
        <div class="parallax-quote-in">
            <p><%= t("landings.index.parallax_quote.paragraph") %></p>
            <small>- <%= t("landings.index.parallax_quote.autor") %>-</small>
        </div>
    </div>
</div>
<!--=== End Parallax Quote ===-->

<!--=== Testimonials v6 ===-->
<div class="bg-color-light">
    <div class="container content-sm">
        <div class="headline-center margin-bottom-60">
            <h2><%= t("landings.index.testimonials.title") %></h2>
            <p><%= t("landings.index.testimonials.paragraph") %></p>
        </div>

        <!-- Testimonials Wrap -->
        <div class="testimonials-v6 testimonials-wrap">
            <div class="row margin-bottom-50">
                <div class="col-md-6 md-margin-bottom-50">
                    <div class="testimonials-info rounded-bottom">
                        <%= image_tag("homepage/rambo.jpg", class: "rounded-x", alt: image_alt("rambo.jpg")) %>
                        <div class="testimonials-desc">
                            <p><%= t("landings.index.testimonials.testimonial1.paragraph") %></p>
                            <strong><%= t("landings.index.testimonials.testimonial1.autor") %></strong>
                            <span><%= t("landings.index.testimonials.testimonial1.whois") %></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="testimonials-info rounded-bottom">
                        <%= image_tag("homepage/bodybuilder.jpg", class: "rounded-x", alt: image_alt("rambo.jpg")) %>
                        <div class="testimonials-desc">
                            <p><%= t("landings.index.testimonials.testimonial2.paragraph") %></p>
                            <strong><%= t("landings.index.testimonials.testimonial2.autor") %></strong>
                            <span><%= t("landings.index.testimonials.testimonial2.whois") %></span>
                        </div>
                    </div>
                </div>
            </div><!--/end row-->

            <div class="row margin-bottom-20">
                <div class="col-md-6 md-margin-bottom-50">
                    <div class="testimonials-info rounded-bottom">
                        <%= image_tag("homepage/gymowner.jpg", class: "rounded-x", alt: image_alt("rambo.jpg")) %>
                        <div class="testimonials-desc">
                            <p><%= t("landings.index.testimonials.testimonial3.paragraph") %></p>
                            <strong><%= t("landings.index.testimonials.testimonial3.autor") %></strong>
                            <span><%= t("landings.index.testimonials.testimonial3.whois") %></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="testimonials-info rounded-bottom">
                        <%= image_tag("homepage/fitchick.jpg", class: "rounded-x", alt: image_alt("rambo.jpg")) %>
                        <div class="testimonials-desc">
                            <p><%= t("landings.index.testimonials.testimonial4.paragraph") %></p>
                            <strong><%= t("landings.index.testimonials.testimonial4.autor") %></strong>
                            <span><%= t("landings.index.testimonials.testimonial4.whois") %></span>
                        </div>
                    </div>
                </div>
            </div><!--/end row-->
        </div>
        <!-- End Testimonials Wrap -->
    </div><!--/end container-->
</div>
<!--=== End Testimonials v6 ===-->

<!--=== Owl Clients v1 ===-->
<div class="container content-sm">
    <div class="owl-clients-v1">
        <div class="item">
          <%= image_tag("homepage/sponsor-badge.png", alt: image_alt("logo-big.png")) %>
        </div>
        <div class="item">
          <%= image_tag("sponsor-badge.png", alt: image_alt("sponsor-badge.png")) %>
        </div>
        <div class="item">
          <%= image_tag("sponsor-badge.png", alt: image_alt("sponsor-badge.png")) %>
        </div>
        <div class="item">
          <%= image_tag("sponsor-badge.png", alt: image_alt("sponsor-badge.png")) %>
        </div>
        <div class="item">
          <%= image_tag("sponsor-badge.png", alt: image_alt("sponsor-badge.png")) %>
        </div>
        <div class="item">
          <%= image_tag("sponsor-badge.png", alt: image_alt("sponsor-badge.png")) %>
        </div>
        <div class="item">
          <%= image_tag("sponsor-badge.png", alt: image_alt("sponsor-badge.png")) %>
        </div>
        <div class="item">
          <%= image_tag("sponsor-badge.png", alt: image_alt("sponsor-badge.png")) %>
        </div>
        <div class="item">
          <%= image_tag("sponsor-badge.png", alt: image_alt("sponsor-badge.png")) %>
        </div>
    </div>
</div>
<!--=== End Owl Clients v1 ===-->
