<% content_for :dynamic_stylesheets do %>
  <%= stylesheet_link_tag "owl.carousel/owl.carousel.css", 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag "pages/page_one.css", 'data-turbolinks-track' => true %>
<%end%>

<% content_for :dynamic_javascripts do %>
  <%= javascript_include_tag "jquery-parallax/jquery.parallax.js", 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "counter/waypoints.js", 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "counter-up/jquery.counterup.min.js", 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "owl.carousel/owl.carousel.js", 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "owl.carousel/owl-carousel.js", 'data-turbolinks-track' => true %>
<%end%>

<!-- Parallax Section -->
<div class="bg-image-v1 parallaxBg">
    <div class="container">
        <div class="headline-center headline-light">
            <h2>Unify is a clean and fully responsive incredible template</h2>
            <p>Integer odio ligula, tincidunt id volutpat et, imperdiet eget mi. Quisque laoreet porttitor turpis sed <a href="#">fermentum</a>. Nullam sodales blandit nisi, tristique tempor nunc hendrerit at. Sed posuere mollis orci</p><br>
            <button type="button" class="btn-u btn-brd btn-brd-hover btn-u-light">Download Now</button>
        </div><!--/end Headline Center-->
    </div>
</div>
<!-- End Parallax Section -->

<!--=== Call To Action ===-->
<div class="call-action-v1 bg-color-light">
    <div class="container">
        <div class="call-action-v1-box">
            <div class="call-action-v1-in">
                <p>Unify creative technology company providing key digital services and focused on helping our clients to build a successful business on web and mobile.</p>
            </div>
            <div class="call-action-v1-in inner-btn page-scroll">
                <a href="#portfolio" class="btn-u btn-brd btn-brd-hover btn-u-dark btn-u-block">REGISTER TODAY</a>
            </div>
        </div>
    </div>
</div>
<!--=== End Call To Action ===-->

<!--=== Carallax Counter v1 ===-->
<div class="parallax-counter-v1 parallaxBg" style="background-position: 50% 20px;">
    <div class="container">
        <h2 class="title-v2 title-light title-center">SOME FACTS AND SERVICES</h2>
        <p class="space-xlg-hor text-center color-light">If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary.</p>

        <div class="margin-bottom-40"></div>

        <div class="row margin-bottom-10">
            <div class="col-sm-3 col-xs-6">
                <div class="counters">
                    <span class="counter">10629</span>
                    <h4>Users</h4>
                </div>
            </div>
            <div class="col-sm-3 col-xs-6">
                <div class="counters">
                    <span class="counter">277</span>
                    <h4>Projects</h4>
                </div>
            </div>
            <div class="col-sm-3 col-xs-6">
                <div class="counters">
                    <span class="counter">78</span>
                    <h4>Team Members</h4>
                </div>
            </div>
            <div class="col-sm-3 col-xs-6">
                <div class="counters">
                    <span class="counter">109</span>
                    <h4>Awards</h4>
                </div>
            </div>
        </div>
    </div>
</div>
<!--=== End Carallax Counter v1 ===-->

<!--=== Service Blcoks ===-->
<div class="container content-md">
    <div class="text-center margin-bottom-50">
        <h2 class="title-v2 title-center">OUR SERVICES</h2>
        <p class="space-lg-hor">If you are going to use a <span class="color-green">passage of Lorem Ipsum</span>, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making <span class="color-green">this the first</span> true generator on the Internet.</p>
    </div>

    <!-- Service Blcoks -->
    <div class="row service-box-v1">
        <div class="col-md-4 col-sm-6 md-margin-bottom-40">
            <div class="service-block service-block-default no-margin-bottom">
                <i class="icon-lg rounded-x icon icon-badge"></i>
                <h2 class="heading-sm">Web Design &amp; Development</h2>
                <p>Donec id elit non mi porta gravida at eget metus id elit mi egetine. Fusce dapibus</p>
                <ul class="list-unstyled">
                    <li>Responsive Web Desgin</li>
                    <li>E-commerce</li>
                    <li>App &amp; Icon Design</li>
                    <li>Logo &amp; Brand Design</li>
                    <li>Mobile Development</li>
                    <li>UI/UX Design</li>
                </ul>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 md-margin-bottom-40">
            <div class="service-block service-block-default no-margin-bottom">
                <i class="icon-lg rounded-x icon-line icon-trophy"></i>
                <h2 class="heading-sm">Marketing &amp; Cunsulting</h2>
                <p>Donec id elit non mi porta gravida at eget metus id elit mi egetine usce dapibus elit nondapibus</p>
                <ul class="list-unstyled">
                    <li>Analysis &amp; Consulting</li>
                    <li>Email Marketing</li>
                    <li>App &amp; Icon Design</li>
                    <li>Responsive Web Desgin</li>
                    <li>Social Networking</li>
                    <li>Documentation</li>
                </ul>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="service-block service-block-default no-margin-bottom">
                <i class="icon-lg rounded-x icon-line icon-layers"></i>
                <h2 class="heading-sm">SEO &amp; Advertising</h2>
                <p>Donec id elit non mi porta gravida at eget metus id elit mi egetine. Fusce dapibus</p>
                <ul class="list-unstyled">
                    <li>Display Advertising</li>
                    <li>App &amp; Icon Design</li>
                    <li>Analysis &amp; Consulting</li>
                    <li>Google AdSense</li>
                    <li>Social Media</li>
                    <li>Google/Bing Analysis</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- End Service Blcoks -->
</div>
<!--=== End Service Blcoks ===-->

<!--=== Parallax Quote ===-->
<div class="parallax-quote parallaxBg" style="background-position: 50% 22px;">
    <div class="container">
        <div class="parallax-quote-in">
            <p>If you can design one thing <span class="color-green">you can design</span> everything. <br> Just Believe It.</p>
            <small>- HtmlStream -</small>
        </div>
    </div>
</div>
<!--=== End Parallax Quote ===-->

<!--=== Testimonials v6 ===-->
<div class="bg-color-light">
    <div class="container content-sm">
        <div class="headline-center margin-bottom-60">
            <h2>WHAT PEOPLE SAY</h2>
            <p>Phasellus vitae ipsum ex. Etiam eu vestibulum ante. <br>
            Lorem ipsum <strong>dolor</strong> sit amet, consectetur adipiscing elit. Morbi libero libero, imperdiet fringilla </p>
        </div>

        <!-- Testimonials Wrap -->
        <div class="testimonials-v6 testimonials-wrap">
            <div class="row margin-bottom-50">
                <div class="col-md-6 md-margin-bottom-50">
                    <div class="testimonials-info rounded-bottom">
                        <img class="rounded-x" src="assets/img/testimonials/img5.jpg" alt="">
                        <div class="testimonials-desc">
                            <p>Donec quis lorem sit amet nibh tempor porttitor non eu justo. Fusce iaculis scelerisque nibh at rhoncus. Aliquam blandit.</p>
                            <strong>Evan Bohringer</strong>
                            <span>Web Developer</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="testimonials-info rounded-bottom">
                        <img class="rounded-x" src="assets/img/testimonials/img6.jpg" alt="">
                        <div class="testimonials-desc">
                            <p>Donec quis lorem sit amet nibh tempor porttitor non eu justo. Fusce iaculis scelerisque nibh at rhoncus. Aliquam blandit.</p>
                            <strong>Sara Lisbon</strong>
                            <span>Designer</span>
                        </div>
                    </div>
                </div>
            </div><!--/end row-->

            <div class="row margin-bottom-20">
                <div class="col-md-6 md-margin-bottom-50">
                    <div class="testimonials-info rounded-bottom">
                        <img class="rounded-x" src="assets/img/testimonials/img3.jpg" alt="">
                        <div class="testimonials-desc">
                            <p>Donec quis lorem sit amet nibh tempor porttitor non eu justo. Fusce iaculis scelerisque nibh at rhoncus. Aliquam blandit.</p>
                            <strong>Alice Williams</strong>
                            <span>Web Developer</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="testimonials-info rounded-bottom">
                        <img class="rounded-x" src="assets/img/testimonials/img2.jpg" alt="">
                        <div class="testimonials-desc">
                            <p>Donec quis lorem sit amet nibh tempor porttitor non eu justo. Fusce iaculis scelerisque nibh at rhoncus. Aliquam blandit.</p>
                            <strong>Jane Wearne</strong>
                            <span>Technical Direector</span>
                        </div>
                    </div>
                </div>
            </div><!--/end row-->
        </div>
        <!-- End Testimonials Wrap -->
    </div><!--/end container-->
</div>
<!--=== End Testimonials v6 ===-->

<!--=== Owl Clients v1 ===-->
<div class="container content-sm">
    <div class="owl-clients-v1">
        <div class="item">
          <%= image_tag("logo-big.png", alt: image_alt("logo-big.png")) %>
        </div>
        <div class="item">
          <%= image_tag("logo-big.png", alt: image_alt("logo-big.png")) %>
        </div>
        <div class="item">
          <%= image_tag("logo-big.png", alt: image_alt("logo-big.png")) %>
        </div>
        <div class="item">
          <%= image_tag("logo-big.png", alt: image_alt("logo-big.png")) %>
        </div>
        <div class="item">
          <%= image_tag("logo-big.png", alt: image_alt("logo-big.png")) %>
        </div>
        <div class="item">
          <%= image_tag("logo-big.png", alt: image_alt("logo-big.png")) %>
        </div>
        <div class="item">
          <%= image_tag("logo-big.png", alt: image_alt("logo-big.png")) %>
        </div>
        <div class="item">
          <%= image_tag("logo-big.png", alt: image_alt("logo-big.png")) %>
        </div>
        <div class="item">
          <%= image_tag("logo-big.png", alt: image_alt("logo-big.png")) %>
        </div>
    </div>
</div>
<!--=== End Owl Clients v1 ===-->
