<div id ="devhelp" class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title clickable">Dev help</h3>
        </div>
        <div class="panel-body">
          <%= debug(params) if Rails.env.development? %>
          <p><%= link_to "Root path", defined?(root_path) ? root_path : "#" %></p>
          <% if defined?(Devise) %>
            <% if user_signed_in? %>

            <p><%= link_to "Edit Account", edit_user_registration_path %></p>
          <p><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></p>

        <% else %>

            <p><%= link_to "Login", new_user_session_path %></p>
          <p><%= link_to "Sign Up", new_user_registration_path %></p>

        <% end %>

        <% end %>

          <p><%= link_to "Contests", defined?(contests_path) ? contests_path : "#" %></p>
          <p><%= link_to "Submissions", defined?(submissions_path) ? submissions_path : "#" %></p>

          <p>Vartest:<br />
          <%=t "controller.correct_user" %><br />
          <%=t "landingpage.menu.join" %>
          </p>

        </div>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">

$(document).ready(function(){

    $('.clickable').on('click', function(){
      $(this).closest('.panel').addClass('hidden');
      });
    });

</script>
