<div class="collapse" id="collapseExample">
  <div class="container well menu-container">
    <%= debug(params) if Rails.env.development? %>
    <ul>
      <li><%= current_user.username unless current_user.nil? %></li>
      <li><%= link_to "Root path", defined?(root_path) ? root_path : "#" %></li>

      <% if defined?(Devise) %>
        <% if user_signed_in? %>
        <li><%= link_to "Edit Account", edit_user_registration_path %></li>
        <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %><%= link_to "Sign out stackexchange", destroy_user_session_path, :method => :delete %></li>
        <% else %>
        <li><%= link_to "Login", new_user_session_path %></li>
        <li><%= link_to "Sign Up", new_user_registration_path %></li>
        <% end %>
      <% end %>

      <li><%= link_to "Testpage", test_path %></li>
      <li><%= link_to "Contests", defined?(contests_path) ? contests_path : "#" %></li>
      <li><%= link_to "Submissions", defined?(submissions_path) ? submissions_path : "#" %></li>

    </ul>
  </div>
</div>
