<!--=== Footer v2 ===-->
<div id="footer-v2" class="footer-v2">
    <div class="footer">
        <div class="container">
            <div class="row">
                <!-- About -->
                <div class="col-md-3 md-margin-bottom-40">
                    <%= link_to root_path do %>
                        <%= image_tag("logo.png", id: "logo-footer", class: "footer-logo", alt: "Logo") %>
                    <% end %>
                    <p class="margin-bottom-20"><%= t(".description-text") %></p>

                </div>
                <!-- End About -->

                <!-- Link List -->
                <div class="col-md-3 md-margin-bottom-40">
                  <div class="headline"><h2 class="heading-sm"><%= t(".useful-links.title") %></h2></div>
                    <ul class="list-unstyled link-list">
                        <li><%= link_to t(".useful-links.about-us", default: "about us"), about_us_path %><i class="fa fa-angle-right"></i></li>
                        <li><%= link_to t(".useful-links.leaderboards", default: "leaderboards"), contests_path %><i class="fa fa-angle-right"></i></li>
                        <li><%= link_to t(".useful-links.teams", default: "teams"), teams_path %><i class="fa fa-angle-right"></i></li>
                        <li><%= link_to t(".useful-links.following", default: "following"), following_path %><i class="fa fa-angle-right"></i></li>
                        <li><%= link_to t(".useful-links.profile", default: "profile"), edit_user_registration_path %><i class="fa fa-angle-right"></i></li>
                    </ul>
                </div>
                <!-- End Link List -->

                <!-- Latest Tweets -->
                <div class="col-md-3 md-margin-bottom-40">
                    <div class="latest-tweets">
                      <div class="headline"><h2 class="heading-sm"><%= t(".latest-tweets") %></h2></div>
                        <div class="latest-tweets-inner">
                            <i class="fa fa-twitter"></i>
                            <p>
                                <a href="#">@htmlstream</a>
                                At vero seos etodela ccusamus et
                                <a href="#">http://t.co/sBav7dm</a>
                                <small class="twitter-time">2 hours ago</small>
                            </p>
                        </div>
                        <div class="latest-tweets-inner">
                            <i class="fa fa-twitter"></i>
                            <p>
                                <a href="#">@htmlstream</a>
                                At vero seos etodela ccusamus et
                                <a href="#">http://t.co/sBav7dm</a>
                                <small class="twitter-time">4 hours ago</small>
                            </p>
                        </div>
                    </div>
                </div>
                <!-- End Latest Tweets -->

                <!-- Address -->
                <div class="col-md-3 md-margin-bottom-40">
                  <div class="headline"><h2 class="heading-sm"><%= t(".contact-us.title") %></h2></div>
                    <address class="md-margin-bottom-40">
                        <%= t(".contact-us.paragraph") %><br />
                        <i class="fa fa-envelope"></i><%= t(".contact-us.mail") %>: <a href="mailto:<%= ENV["SUPPORT_EMAIL"] %>"><%= ENV["SUPPORT_EMAIL"] %></a>
                    </address>
                </div>
                <!-- End Address -->
            </div>
        </div>
    </div><!--/footer-->

        <div class="copyright">
            <div class="container">
                <p class="text-center"><%= raw t(".copyright") %></p>
            </div>
        </div><!--/copyright-->
</div>
<!--=== End Footer v2 ===-->
