<!-- **********************************************************************************************************************************************************
MAIN SIDEBAR MENU
*********************************************************************************************************************************************************** -->
<!--sidebar start-->
<aside>
    <div id="sidebar"  class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
        
            <p class="centered">
            <%= link_to edit_user_registration_path do %>
              <%= image_tag("logo.png", class: 'img-circle', width: '100') %>
            <% end %>
            </p>
            <h5 class="centered"><%= current_user.nil? ?  "Welcome" : current_user.fullname %></h5>
              
            <li class="mt">
                <a href="index.html">
                    <i class="fa fa-dashboard"></i>
                    <span>Dashboard</span>
                </a>
            </li>


            <li class="sub-menu">
                <a href="javascript:;" >
                    <i class=" fa fa-bar-chart-o"></i>
                    <span>Rankings</span>
                </a>
            </li>
            <li class="sub-menu">
              <%= link_to contests_path do %>
                  <i class="fa fa-th"></i>
                  <span>Contests</span>
              <% end %>
            </li>
            <li class="sub-menu">
                <a href="javascript:;" >
                    <i class="fa fa-tasks"></i>
                    <span>Following</span>
                </a>
            </li>
            <li class="sub-menu">
                <a href="javascript:;" >
                    <i class="fa fa-book"></i>
                    <span>Gyms</span>
                </a>
            </li> 
            <li class="sub-menu">
              <%= link_to edit_user_registration_path do %>
                  <i class="fa fa-cogs"></i>
                  <span>Settings</span>
              <% end %>
            </li>

        </ul>
        <!-- sidebar menu end-->
    </div>
</aside>
<!--sidebar end-->

