<% content_for :dynamic_stylesheets do %>
  <%= stylesheet_link_tag "pages/page_log_reg_v1.css", 'data-turbolinks-track' => true %>
<%end%>

<!--=== Content Part ===-->
<div class="container content">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
      <%= form_for @contest, html: { multipart: true, class: "reg-page" } do |f| %>
      <div class="reg-header">
        <h2><%= @title %></h2>
        <p><%= translations[:paragraph] %></p>
      </div>


      <label><%= translations[:name] %><%= raw redstar(@contest, :name) %></label>
      <%= f.text_field :name, class: "form-control margin-bottom-20" %>

      <label><%= translations[:description] %><%= raw redstar(@contest, :description) %></label>
      <%= f.text_area :description, class: "form-control margin-bottom-20" %>

      <label><%= translations[:ctype] %><%= raw redstar(@contest, :ctype_id) %></label>
      <%= collection_select(:contest, :ctype_id, Ctype.all, :id, :name) %>

      <div class="media">
        <div class="media-body">
          <label><%= translations[:avatar] %><%= raw redstar(@contest, :avatar) %></label>
          <%= f.file_field :avatar, class: "form-control margin-bottom-20" %>
        </div>
        <div class="media-right media-middle">
          <%= image_tag(@contest.avatar.url(:thumb), class: "media-object img-circle", size: "64x64") %>
        </div>
      </div>

      <hr>

      <div class="row">
        <div class="col-lg-6 text-left">
          <%= link_to translations[:destroy], @contest, method: :delete, data: { confirm: 'Are you sure?' } unless current_page?(controller: 'contests', action: 'new') %>
        </div>
        <div class="col-lg-6 text-right">
          <%= f.submit translations[:update], default: "Update", class: "btn-u" %>
        </div>
      </div>

    <% end %>
    </div>
  </div>
</div><!--/container-->
<!--=== End Content Part ===-->

