<% @contests.each_slice(3) do |contest| %>

  <div class="row">

  <% contest.each do |contest| %>
    
    <%= link_to contest_submissions_path(contest.id) do %>
    <div class="col-lg-4 col-md-4 col-sm-4 mb">
      <!-- CONTEST PANEL -->
      <div class="contest-panel pn">
        <i class="fa fa-trophy fa-4x"></i>
        <p><%= contest.name %><br/>
        <%= contest.description %>
        </p>
        <p><i class="fa fa-user"></i> 18 | <i class="fa fa-heart"></i> 49</p>
        <p><%= contest.admin_name %></p>
      </div>
    </div><!-- /col-md-4 -->
    <% end %>

  <% end %>

  </div><! --/END 1ST ROW OF PANELS -->
<% end %>

<br>

<%= link_to 'New Contest', new_contest_path %>
