<% content_for :dynamic_stylesheets do %>
  <%= stylesheet_link_tag "masonry/blog_masonry_3col.css", 'data-turbolinks-track' => true %>
<%end%>

<% content_for :dynamic_javascripts do %>
  <%= javascript_include_tag "masonry/blog-masonry.js", 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "masonry/jquery.masonry.min.js", 'data-turbolinks-track' => true %>
<%end%>


<!--=== Content Part ===-->
<div class="blog_masonry_3col">
    <div class="container content grid-boxes">

        <% @contests.each.with_index do |contest, index| %>
          <div class="grid-boxes-in">
              <%= link_to contest_submissions_path(contest.id) do %>
                <%= image_tag "placeholder/1.jpg", class: "img-responsive", alt: image_alt('placeholder/1.jpg') %>
              <% end %>
              <div class="grid-boxes-caption">
                <h3><%= link_to contest.name, contest_submissions_path(contest.id) %></h3>
                  <ul class="list-inline grid-boxes-news">
                    <li><span>By</span> <%= link_to contest.admin.username, root_path %></li>
                      <li>|</li>
                      <li><i class="fa fa-clock-o"></i> <%= time_ago_in_words(contest.created_at, include_seconds: true) %></li>
                      <li>|</li>
                      <li><a href="#"><i class="fa fa-users"></i> <%= contest.submissions.count %></a></li>
                  </ul>
                  <p><%= contest.description %></p>
                  <h3 class="heading-xs">Edit me please <span class="pull-right">70%</span></h3>
                  <div class="progress progress-u progress-xxs">
                    <div class="progress-bar progress-bar-u" role="progressbar" aria-valuenow="77" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                    </div>
                  </div>
                  <ul class="list-inline blog-info-v2">
                    <li>
                    <strong><%= contest.submissions.sum(:reps) %> reps</strong>
                    <span>done</span>
                    </li>
                    <li>
                    <strong><%= contest.tonnage %> kg</strong>
                    <span>lifted</span>
                    </li>
                  </ul>
              </div>
          </div>

          <% if (index % 3) == 0 %>
            <div class="grid-boxes-in grid-boxes-qoute">
                <div class="grid-boxes-caption grid-boxes-quote bg-color-sea">
                    <p>If you can design one thing you can design everything. Just Believe It</p>
                    <span>- Htmlstream -</span>
                </div>
            </div>
          <% end %>

        <% end %>


    </div><!--/container-->
</div>
<!--=== End Content Part ===-->
