<% content_for :dynamic_stylesheets do %>
  <%= stylesheet_link_tag "masonry/blog_masonry_3col.css", 'data-turbolinks-track' => true %>
<%end%>

<% content_for :dynamic_javascripts do %>
  <%= javascript_include_tag "jquery-masonry/dist/masonry.pkgd.js", 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "imagesloaded/imagesloaded.pkgd.js", 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "masonry/blog-masonry.js", 'data-turbolinks-track' => true %>
<%end%>


<!--=== Create contest Part ===-->
<div class="purchase">
        <div class="container">
            <div class="row">
                <div class="col-md-9 animated fadeInLeft">
                  <span><%= t(".create.title") %></span>
                    <p><%= t(".create.paragraph") %></p>
                </div>
                <div class="col-md-3 btn-buy animated fadeInRight">
                    <%= link_to new_contest_path, class: "btn-u btn-u-lg" do %>
                      <i class="fa fa-plus-circle"></i> <%= t(".create.button") %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
<!--=== Content Part ===-->
<div class="blog_masonry_3col">
    <div class="container content grid-boxes">

      <div class="grid-sizer"></div>
      <div class="grid-gutter"></div>
        <% @contests.each.with_index do |contest, index| %>
          <div class="grid-boxes-in">
              <%= link_to contest_submissions_path(contest.id) do %>
                <%= image_tag contest.avatar.url(:medium), class: "img-responsive", alt: image_alt(contest.avatar.url(:medium)) %>
              <% end %>
              <div class="grid-boxes-caption">
                <h3><%= link_to contest.name, contest_submissions_path(contest) %></h3>
                  <ul class="list-inline grid-boxes-news">
                    <%#OPTIMIZE link to user profile/overview%>
                    <li><span><%= t(".contest.by") %></span> <%= link_to contest.admin.username, root_path %></li>
                      <li>|</li>
                      <li><i class="fa fa-clock-o"></i> <%= time_ago_in_words(contest.created_at, include_seconds: true) %></li>
                      <li>|</li>
                      <li><a href="#"><i class="fa fa-users"></i> <%= contest.submissions.count %></a></li>
                  </ul>
                  <p><%= contest.description %></p>

                  <hr>

                  <ul class="list-inline blog-info-v2">
                    <li>
                    <strong><%= contest.submissions.sum(:reps) %> <%= t(".contest.reps") %></strong>
                    <span><%= t(".contest.reps2") %></span>
                    </li>
                    <li>
                    <strong><%= contest.tonnage %> <%= metric %></strong>
                    <span><%= t(".contest.kg2") %></span>
                    </li>
                    <li class="pull-right">
                      <% if contest.admin == current_user then %>
                        <%= link_to edit_contest_path(contest) do %>
                          <i class="fa fa-pencil-square-o"></i> <%= t(".contest.edit") %>
                        <% end %>
                      <% end %>
                    </li>
                  </ul>
              </div>
          </div>

          <% if (index % 3) == 0 %>
            <div class="grid-boxes-in grid-boxes-qoute">
                <div class="grid-boxes-caption grid-boxes-quote bg-color-sea">
                  <p><%= raw(@quotes.sample.text) %></p>
                  <span>- <%= @quotes.sample.author.nil? ? "Unkown" : raw(@quotes.sample.author) %> -</span>
                </div>
            </div>
          <% end %>

        <% end %>
        <% if @contests.blank? then %>
          <p>No leaderboards found, <%= link_to "create a new one", new_contest_path %> or <%= link_to "show all.", contests_path %></p>
        <% end %>


    </div><!--/container-->
</div>
<!--=== End Content Part ===-->
<div class="container">
  <div class="pagination pull-right">
    <%= will_paginate @contests, renderer: BootstrapPagination::Rails %>
  </div>
</div>
