<p id="notice"><%= notice %></p>

<%= image_tag @contest.avatar.url(:medium) %>
<p>
  <strong>Name:</strong>
  <%= @contest.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @contest.description %>
</p>

<p>
  <strong>Admin:</strong>
  <%= @contest.admin.username %>
</p>

<p>
  <strong>Contest type</strong>
  <%= @contest.ctype.name %>
</p>

<%= link_to 'Edit', edit_contest_path(@contest) %> |
<%= button_to "Delete", @contest, method: :delete %>
<%= link_to 'Back', contests_path %>
