<div class="col-md-9">
    <div class="profile-body margin-bottom-20">
        <!--Profile Blog-->
        <% if @submissions.length == 0 %>
          <div class="row margin-bottom-20">
              <div class="col-sm-6 sm-margin-bottom-20">
                  <div class="profile-blog placeholder">
                      <div class="name-location">
                          <strong>Start competing on this leaderboard!</strong>
                          <span><i class="fa fa-trophy"></i> by adding a submission</span>
                      </div>
                      <div class="clearfix margin-bottom-20"></div>
                      <p><%= link_to t(".submitb"), new_contest_submission_path, class: "btn btn-u btn-block" %></p>
                  </div>
              </div>
          </div><!--/end row-->
        <% end %>
        <!--Profile Blog-->
        <% @submissions.each_slice(2).with_index do |submissions_slice, slice_index| %>
          <div class="row margin-bottom-20">
            <% submissions_slice.each.with_index do |submission, index| %>
            <% rank = slice_index + 1 + slice_index + index %>
              <div class="col-sm-6<%= " sm-margin-bottom-20" if index == 0 %>">
                  <div class="profile-blog<%= ' current_user' unless current_user.nil? || current_user.id != submission.user_id %>">
                      <%= image_tag(submission.user.avatar.url(:thumb), class: "rounded-x", size: "50x50") %>
                      <div class="name-location">
                          <strong><%= submission.user.username %></strong>
                          <span><i class="fa fa-map-marker"></i><%= time_ago_in_words(submission.created_at, include_seconds: true) %> <%= t(".ago") %></span>
                      </div>
                      <div class="clearfix margin-bottom-20"></div>
                      <p><%= submission.user.bio %></p>
                      <p><%= link_to "edit", edit_submission_path(submission) %></p>
                      <hr>
                      <ul class="list-inline share-list">
                        <li<%= ' class="top-rank"' if rank < 3 %>><i class="fa fa-trophy"></i><strong><%= t(".rank") %>: <%= rank %></strong></li>
                        <li><i class="fa fa-balance-scale"></i><%= "#{t(".weight")}: #{submission.converted_weight(current_user).to_s + metric}" %></li>
                        <li><i class="fa fa-refresh"></i><%= "#{t(".reps")}: #{submission.reps}" %></li>
                      </ul>
                  </div>
              </div>
            <% end %>

          </div><!--/end row-->
        <% end %>
          <!--End Profile Blog-->
    </div>
</div>
