<%= form_for [@contest,@submission] do |f| %>
  <% if @submission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@submission.errors.count, "error") %> prohibited this submission from being saved:</h2>

      <ul>
      <% @submission.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="margin-bottom-20">
    <%= @contest.ctype.desc %>
  </div>

  <div class="row">
    <% if @contest.ctype.id == 1 ||
          @contest.ctype.id == 2 ||
          @contest.ctype.id == 5
    %>
    <div class="col-sm-6">
      <%= f.label :weight %>
      <%= f.text_field :weight, class: "form-control margin-bottom-20" %>
    </div>
    <% end %>

    <% if @contest.ctype.id == 1 ||
          @contest.ctype.id == 3 ||
          @contest.ctype.id == 4 ||
          @contest.ctype.id == 5
    %>
    <div class="col-sm-6">
      <%= f.label :reps %>
      <%= f.number_field :reps, class: "form-control margin-bottom-20" %>
    </div>
    <% end %>

    <% if @contest.ctype.id == 6 ||
          @contest.ctype.id == 7
    %>
    <div class="col-sm-6">
      <%= f.label :time %>
      <%= f.number_field :time, class: "form-control margin-bottom-20" %>
    </div>
    <% end %>
  </div>

  <%= f.submit t('.submit', default: "Submit"), class: "btn btn-u" %>
<% end %>
