<% content_for :dynamic_stylesheets do %>
  <%= stylesheet_link_tag "pages/profile.css", 'data-turbolinks-track' => true %>
<%end%>

<% content_for :dynamic_javascripts do %>
<%end%>


<!--=== Profile ===-->
<div class="container content profile">
  <div class="row">
        <!--Left Sidebar-->
        <div class="col-md-3 md-margin-bottom-40">

            <div class="panel-heading-v2 overflow-h">
            <h2 class="heading-xs pull-left"><i class="fa fa-info"></i> <%= t(".descriptionh", default: "Description") %></h2>
            </div>
            <p><%= @description %></p>
            <p>Admin: <strong><%= @creator %></strong></p>

            <hr>

            <div class="panel-heading-v2 overflow-h">
            <h2 class="heading-xs pull-left"><i class="fa fa-trophy"></i> <%= t('.submith', default: "Submit to leaderboard") %></h2>
            </div>
            <p><%= t('.submitp', default: "Compete now and submit your best score to the leaderboard!") %></p>
            <p><%= link_to t(".submitb", default: "Add entry"), new_contest_submission_path, class: "btn btn-u btn-block" %></p>
            <p><%= raw t(".submitm", href: link_to(t(".submitm_link", default: "pounds or kgs!"), edit_user_registration_path), default: "Show in %{href}") %></p>

            <hr>

            <!--Notification-->
            <div class="panel-heading-v2 overflow-h">
                <h2 class="heading-xs pull-left"><i class="fa fa-bell-o"></i> <%= t(".latesth", default: "Latest submissions") %></h2>
            </div>
            <ul class="list-unstyled mCustomScrollbar margin-bottom-20" data-mcs-theme="minimal-dark">
              <% @notifications.each do |notification| %>
                <li class="notification">
                    <i class="icon-custom icon-sm rounded-x icon-bg-red icon-line icon-envelope"></i>
                    <div class="overflow-h">
                        <span><strong><%= notification.user_name %></strong> did <%= notification.converted_weight(current_user).to_s + metric %> x <%= notification.reps %> reps</span>
                        <small><%= time_ago_in_words(notification.created_at) %> ago</small>
                    </div>
                </li>
              <% end %>
            </ul>
        </div>
        <!--End Left Sidebar-->

        <!-- Profile Content -->
        <div class="col-md-9">
            <div class="profile-body margin-bottom-20">
                <!--Profile Blog-->
                <% @submissions.each_slice(2).with_index do |submissions_slice, slice_index| %>
                  <div class="row margin-bottom-20">
                    <% submissions_slice.each.with_index do |submission, index| %>
                    <% rank = slice_index + 1 + slice_index + index %>
                      <div class="col-sm-6<%= " sm-margin-bottom-20" if index == 0 %>">
                          <div class="profile-blog<%= ' current_user' if current_user.id == submission.user_id %>">
                              <%= image_tag(submission.user.avatar.url(:thumb), class: "rounded-x", size: "50x50") %>
                              <div class="name-location">
                                  <strong><%= submission.user.username %></strong>
                                  <span><i class="fa fa-map-marker"></i><%= time_ago_in_words(submission.created_at, include_seconds: true) %></span>
                              </div>
                              <div class="clearfix margin-bottom-20"></div>
                              <p><%= "#{submission.user.bio} user_id: #{submission.user_id} #{current_user.id} tonnage: #{submission.tonnage}" %></p>
                              <p><%= 'test' if current_user.id == submission.user_id %></p>
                              <hr>
                              <ul class="list-inline share-list">
                                  <li<%= ' class="top-rank"' if rank < 3 %>><i class="fa fa-trophy"></i><strong>Rank: <%= rank %></strong></li>
                                  <li><i class="fa fa-trophy"></i><%= "Weight: #{submission.converted_weight(current_user).to_s + metric}" %></li>
                                  <li><i class="fa fa-repeat"></i><%= "Reps: #{submission.reps}" %></li>
                              </ul>
                          </div>
                      </div>
                    <% end %>

                  </div><!--/end row-->
                <% end %>
                  <!--End Profile Blog-->
            </div>
        </div>
        <!-- End Profile Content -->
        <div class="pagination pull-right">
          <%= will_paginate @submissions, renderer: BootstrapPagination::Rails %>
        </div>
    </div><!--/end row-->
</div>
<!--=== End Profile ===-->
