<% content_for :dynamic_stylesheets do %>
  <%= stylesheet_link_tag "pages/profile.css", 'data-turbolinks-track' => true %>
<%end%>

<% content_for :dynamic_javascripts do %>
<%end%>


<!--=== Profile ===-->
<div class="container content profile">
  <div class="row">
        <!--Left Sidebar-->
        <div class="col-md-3 md-margin-bottom-40">
            <div class="panel-heading-v2 overflow-h">
            <h2 class="heading-xs pull-left"><i class="fa fa-info"></i> <%= t(".descriptionh") %></h2>
            </div>
            <p><%= @description %></p>
            <p>Admin: <strong><%= @creator %></strong></p>

            <hr>

            <div class="panel-heading-v2 overflow-h">
            <h2 class="heading-xs pull-left"><i class="fa fa-trophy"></i> <%= t(".submith") %></h2>
            </div>
            <p><%= t(".submitp") %></p>
            <p><%= link_to t(".submitb"), new_contest_submission_path, class: "btn btn-u btn-block" %></p>
            <p><%= raw t(".submitm", href: link_to(t(".submitm_link"), edit_user_registration_path)) %></p>

            <hr>

            <%= render partial: "submissions/index/latest_1" %>
        </div>
        <!--End Left Sidebar-->

        <!-- Profile Content -->
        <%= render partial: "submissions/index/leaderboard_1" %>
        <!-- End Profile Content -->

        <div class="pagination pull-right">
          <%= will_paginate @submissions, renderer: BootstrapPagination::Rails %>
        </div>
    </div><!--/end row-->
</div>
<!--=== End Profile ===-->
