<div class="row">
  <div class="col-lg-4">
    <h3><i class="fa fa-angle-right"></i> Top 3</h3>
  </div>
</div>

<% @podium_submissions.each_slice(3) do |submission| %>

  <div class="row">

  <% submission.each do |submission| %>
    
    <%= link_to submission_path(submission.id) do %>
    <div class="col-lg-4 col-md-4 col-sm-4 mb">
      <!-- submission PANEL -->
      <div class="submission-panel pn">
        <i class="fa fa-trophy fa-5x"></i>
        <p><%= submission.user.username %><br/>
        <%= submission.weight.to_s + " kg x " + submission.reps.to_s %>
        </p>
      </div>
    </div><!-- /col-md-4 -->
    <% end %>

  <% end %>

  </div><! --/END ROW OF PANELS -->
<% end %>

<div class="row">
  <div class="col-lg-4">
    <h3><i class="fa fa-angle-right"></i> Description</h3>
  </div>
</div>

<div class="row-fluid">
  <%= @contest.description %>
</div>

<div class="row">
  <div class="col-lg-4">
    <h3><i class="fa fa-angle-right"></i> Complete ranking</h3>
  </div>

</div>

<div class="row-fluid">
<% @other_submissions.each do |submission| %>
  <div class="kratos-rank" style="display: inline;">
    <div class="ranknr"><%= @other_submissions.index(submission) + 3 %> | </div>
    <%= image_tag("img/ui-sherman.jpg", class: "img-circle", width: "40px", style: "display: inline-block;") %>
    <div style="display:inline-block;">
      <%= link_to submission.user.username, submission %>
      Team Shred<br>
      15min ago
      <%= submission.weight.to_s + "kg x " + submission.reps.to_s %>
      TEST: <%= current_user.id == submission.user.id ? "YES" : "NO" %>
    </div>
  </div>
  <% end %>
</div>
                
<%= link_to 'New Submission', new_contest_submission_path %>
<%= link_to 'Back', contests_path %>
