<p id="notice"><%= notice %></p>

<p>
  <strong>Reps:</strong>
  <%= @submission.reps %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @submission.weight %>
</p>

<p>
  <strong>User:</strong>
  <%= @submission.user_id %>
</p>

<%= link_to 'Edit', edit_submission_path(@submission) %> |
<%= link_to 'Back', contest_submissions_path(@contest) %>
