<% content_for :dynamic_stylesheets do %>
  <%= stylesheet_link_tag "pages/page_log_reg_v1.css", 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag "unify/brand-buttons-inversed.css", 'data-turbolinks-track' => true %>
<%end%>
<% @title = t('.sign_in', :default => "Sign in") %>
<!--=== Content Part ===-->
<div class="container content">
  <div class="row">
        <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
            <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { class: "reg-page" }) do |f| %>
                <div class="reg-header">
                <h2><%= t('.heading') %></h2>
                </div>

                <div class="input-group margin-bottom-20">
                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                    <%= f.email_field :username, class: "form-control", placeholder: t('.emailplaceholder') %>
                </div>
                <div class="input-group margin-bottom-20">
                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                    <%= f.password_field :email, class: "form-control", placeholder: t('.passwordplaceholder') %>
                </div>

                <div class="row">
                    <div class="col-md-6 checkbox">
                        <% if devise_mapping.rememberable? -%>
                          <label><%= f.check_box :remember_me %> <%= t('.remembersignin') %></label>
                        <% end -%>
                    </div>
                    <div class="col-md-6">
                        <%= f.submit t('.sign_in', default: "Login"), class: "btn btn-u pull-right" %>
                    </div>
                </div>

                <div class="margin-top-20">
                  <%- if devise_mapping.omniauthable? %>
                    <%- resource_class.omniauth_providers.each do |provider| %>
                      <%= link_to omniauth_authorize_path(resource_name, provider) do %>
                  <button class="btn btn-block btn-lg btn-facebook-inversed">
                <i class="fa fa-facebook"></i> <%= t('.sign_in_with_provider', :provider => provider.to_s.titleize, :default => "Sign in with #{provider.to_s.titleize}") %>
                  </button>
                      <% end -%>
                    <% end -%>
                  <% end -%>
                </div>

                <hr>
                 
                <h4><%= t(".forgoth") %></h4>
                <p><%= raw t(".forgotp", href: link_to(t(".forgotp_link", class: "color-green"), new_password_path(resource_name))) %></p>

                <hr>

                <h4><%= t('.donthaveh') %></h4>
                <p><%= raw t(".donthavep", href: link_to(t(".donthavep_link", class: "color-green"), new_registration_path(resource_name))) %></p>

            <% end %>
        </div>
    </div><!--/row-->
</div><!--/container-->
<!--=== End Content Part ===-->
