<% @title = t('.sign_in', :default => "Sign in") %>

<div class="row mt">
  <div class="col-lg-12">
    <div class="form-panel">
      <h4 class="mb"><i class="fa fa-angle-right"></i> <%= @title %></h4>
      <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { class: "form-horizontal style-form" }) do |f| %>

        <div class="form-group">
          <%= f.label :email, class: "col-sm-2 col-sm-2 control-label" %>
          <div class="col-sm-10">
            <%= f.email_field :email, class: "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :password, class: "col-sm-2 col-sm-2 control-label" %>
          <div class="col-sm-10">
            <%= f.password_field :password, class: "form-control" %>
          </div>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
        <% end -%>

        <div><%= f.submit t('.sign_in', :default => "Sign in") %></div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
