<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<html>

<head>
  <% set_meta_tags site: t('general.brand_name'), title: title, reverse: true %>
  <%= display_meta_tags %>

  <meta charset="utf-8" />
  <%= viewport_meta_tag(:initial_scale => "1.0") %>
  <%= csrf_meta_tags %>

  <link rel="shortcut icon" href="favicon.ico">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag params[:controller] , 'data-turbolinks-track' => true%>
  <%= yield :dynamic_stylesheets %>

  <!-- Web Fonts -->
  <%= stylesheet_link_tag "//fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic,latin" %>
  <%= stylesheet_link_tag "//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" %>

</head>

<body class="header-fixed header-fixed-space">
  <%= render partial: "elements/tagmanager" %>

  <div class="wrapper">

    <%= render partial: "elements/header" %>

    <%= bootstrap_flash %>

    <%= yield %>

    <%= render partial: "elements/footer" %>

  </div><!--/wrapper-->

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= yield :dynamic_javascripts %>
  <%= javascript_include_tag params[:controller], 'data-turbolinks-track' => true %>

  <script type="text/javascript">
jQuery(document).ready(function() {
    App.init();
    });
  </script>

  <!--[if lt IE 9]>
      <script src="assets/plugins/respond.js"></script>
      <script src="assets/plugins/html5shiv.js"></script>
      <script src="assets/plugins/placeholder-IE-fixes.js"></script>
  <![endif]-->

</body>

</html>
